<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Test.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>dp.SyntaxHighlighter Tests</title>
<link type="text/css" rel="stylesheet" href="Styles/SyntaxHighlighter.css"></link>
<link href="Styles/TestPages.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>dp.SyntaxHighlighter 1.5.0 Tests and Samples</h1>
<p><a href="http://code.google.com/p/syntaxhighlighter/">http://code.google.com/p/syntaxhighlighter/</a></p>

<h2><!-- InstanceBeginEditable name="Title" -->Crash Test<!-- InstanceEndEditable --></h2>

<div class="layout">

<div class="column1">
	<h3>Languages:</h3>
	<ol>
		<li><a href="CSharp.html">C#</a></li>
		<li><a href="CSS.html">CSS</a></li>
		<li><a href="Cpp.html">C++</a></li>
		<li><a href="Delphi.html">Delphi</a></li>
		<li><a href="Java.html">Java</a></li>
		<li><a href="JavaScript.html">JavaScript</a></li>
		<li><a href="PHP.html">PHP</a></li>
		<li><a href="Python.html">Python</a></li>
		<li><a href="Ruby.html">Ruby</a></li>
		<li><a href="SQL.html">SQL</a></li>
		<li><a href="VB.html">Visual Basic</a></li>
		<li><a href="XML.html">XML / HTML</a></li>
	</ol>
	<h3>Features:</h3>
	<ol>
		<li><a href="SmartTabs.html">Smart tabs</a></li>
		<li><a href="FirstLine.html">First line</a> </li>
		<li><a href="CollapseCode.html">Expand code</a></li>
	    <li><a href="ShowColumns.html">Show columns</a></li>
	    <li><a href="NoGutter.html">No gutter</a></li>
	    <li><a href="NoControls.html">No controls</a></li>
	</ol>
</div>

<div class="column2">
Text body before.
<hr/>
<!-- InstanceBeginEditable name="Code" -->
<pre name="code" class="js">
// SINGLE QUOTE ' HANGS
// retrouver la publication à partir de l`idagence / id type publication   ---  in this line makes it crash
if (iIdPublication == 0 && iIdTypePublication != 0 && iIdAgence != 0) {
    sStmtA = "SELECT idpublication "
    + " FROM table1 WITH(NOLOCK) "
    + " WHERE idagence = " + iIdAgence
    + " AND idtypepublication = " + iIdTypePublication;
    using (Sql sql = new Sql("bc", "immobc"))
        iIdPublication = F.ForceInt(sql.ExecScalar(sStmtA));
}

// alertes pour une publication donnée
if(iIdPublication != 0) {
    using(Sql oSql = new Sql("aboemail")) {
        sStmt = "SELECT table1.*, table3.*, table2.month, table2.year, "
        + " table2.nbsends as nbsends2 "
        + " FROM table1 WITH(NOLOCK) "
        + " LEFT JOIN table2 WITH(NOLOCK) ON table1.idabo_email=table2.idabo_email "
        + " INNER JOIN table3 WITH(NOLOCK) ON table1.idabotypeaction = table3.idabotypeaction "
        + " WHERE idpublication = " + iIdPublication + sWhereSup
        + " ORDER BY table1.idabo_email, table2.year DESC, table2.month DESC";
        oDS=oSql.ExecCached(sStmt);
    }
}
//Mail.SendMail("glop@glop.com","glop@glop.com","abo",sStmtP + " " + sStmtA + " " + sStmt,false);
string[] AMonths = new string[12] { "Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Décembre" };
DicContext["AMonths"] = AMonths;
</pre>
<!-- InstanceEndEditable -->
<hr/>
Text body after.
</div>
</div>

<div class="footer">
Copyright 2004-2007 Alex Gorbatchev.<br/>
</div>

<script class="javascript" src="Scripts/shCore.js"></script>
<script class="javascript" src="Scripts/shBrushCSharp.js"></script>
<script class="javascript" src="Scripts/shBrushPhp.js"></script>
<script class="javascript" src="Scripts/shBrushJScript.js"></script>
<script class="javascript" src="Scripts/shBrushJava.js"></script>
<script class="javascript" src="Scripts/shBrushVb.js"></script>
<script class="javascript" src="Scripts/shBrushSql.js"></script>
<script class="javascript" src="Scripts/shBrushXml.js"></script>
<script class="javascript" src="Scripts/shBrushDelphi.js"></script>
<script class="javascript" src="Scripts/shBrushPython.js"></script>
<script class="javascript" src="Scripts/shBrushRuby.js"></script>
<script class="javascript" src="Scripts/shBrushCss.js"></script>
<script class="javascript" src="Scripts/shBrushCpp.js"></script>
<script class="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>

</body>
<!-- InstanceEnd --></html>
