<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Test.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>dp.SyntaxHighlighter Tests</title>
<link type="text/css" rel="stylesheet" href="Styles/SyntaxHighlighter.css"></link>
<link href="Styles/TestPages.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>dp.SyntaxHighlighter 1.5.0 Tests and Samples</h1>
<p><a href="http://code.google.com/p/syntaxhighlighter/">http://code.google.com/p/syntaxhighlighter/</a></p>

<h2><!-- InstanceBeginEditable name="Title" -->XML / HTML<!-- InstanceEndEditable --></h2>

<div class="layout">

<div class="column1">
	<h3>Languages:</h3>
	<ol>
		<li><a href="CSharp.html">C#</a></li>
		<li><a href="CSS.html">CSS</a></li>
		<li><a href="Cpp.html">C++</a></li>
		<li><a href="Delphi.html">Delphi</a></li>
		<li><a href="Java.html">Java</a></li>
		<li><a href="JavaScript.html">JavaScript</a></li>
		<li><a href="PHP.html">PHP</a></li>
		<li><a href="Python.html">Python</a></li>
		<li><a href="Ruby.html">Ruby</a></li>
		<li><a href="SQL.html">SQL</a></li>
		<li><a href="VB.html">Visual Basic</a></li>
		<li><a href="XML.html">XML / HTML</a></li>
	</ol>
	<h3>Features:</h3>
	<ol>
		<li><a href="SmartTabs.html">Smart tabs</a></li>
		<li><a href="FirstLine.html">First line</a> </li>
		<li><a href="CollapseCode.html">Expand code</a></li>
	    <li><a href="ShowColumns.html">Show columns</a></li>
	    <li><a href="NoGutter.html">No gutter</a></li>
	    <li><a href="NoControls.html">No controls</a></li>
	</ol>
</div>

<div class="column2">
Text body before.
<hr/>
<!-- InstanceBeginEditable name="Code" -->
<h3>Using textarea</h3>

<textarea name="code" class="xml" rows="15" cols="100">
<?xml version="1.0" encoding="utf-8" ?> 

<!-- comments -->
<rootNode>
	<childNodes>
		<childNode attribute = "value" namespace:attribute='value' attribute=/>
		<childNode />
		<childNode />
		<childNode />
		<childNode attribute="value"></childNode>
		<namespace:childNode>
			&lt;![CDATA[
				this is some CDATA content
				<!-- comments inside cdata -->
				<b alert='false'>tags inside cdata</b>
			]]>
		</namespace:childNode>
	</childNodes>
</rootNode>

<!--
  -- Multiline comments <b>tag</b>
  -->
</textarea>

<h3>Using pre</h3>

<pre name="code" class="xml">
&lt;?xml version="1.0" encoding="utf-8" ?> 

&lt;!-- comments -->
&lt;rootNode>
	&lt;childNodes>
		&lt;childNode attribute = "value" namespace:attribute='value' attribute=/>
		&lt;childNode />
		&lt;childNode />
		&lt;childNode />
		&lt;childNode attribute="value">&lt;/childNode>
		&lt;namespace:childNode>
			&lt;![CDATA[
				this is some CDATA content
				&lt;!-- comments inside cdata -->
				&lt;b alert='false'>tags inside cdata&lt;/b>
			]]>
		&lt;/namespace:childNode>
	&lt;/childNodes>
&lt;/rootNode>

&lt;!--
  -- Multiline comments &lt;b>tag&lt;/b>
  -->
</pre>


<!-- InstanceEndEditable -->
<hr/>
Text body after.
</div>
</div>

<div class="footer">
Copyright 2004-2007 Alex Gorbatchev.<br/>
</div>

<script class="javascript" src="Scripts/shCore.js"></script>
<script class="javascript" src="Scripts/shBrushCSharp.js"></script>
<script class="javascript" src="Scripts/shBrushPhp.js"></script>
<script class="javascript" src="Scripts/shBrushJScript.js"></script>
<script class="javascript" src="Scripts/shBrushJava.js"></script>
<script class="javascript" src="Scripts/shBrushVb.js"></script>
<script class="javascript" src="Scripts/shBrushSql.js"></script>
<script class="javascript" src="Scripts/shBrushXml.js"></script>
<script class="javascript" src="Scripts/shBrushDelphi.js"></script>
<script class="javascript" src="Scripts/shBrushPython.js"></script>
<script class="javascript" src="Scripts/shBrushRuby.js"></script>
<script class="javascript" src="Scripts/shBrushCss.js"></script>
<script class="javascript" src="Scripts/shBrushCpp.js"></script>
<script class="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>

</body>
<!-- InstanceEnd --></html>
